.table {
  &__tittle {
    text-align: center;
  }
  &__subtittle {
    text-align: center;
    padding: 4px 0;
  }
  &.--sizes {
    // border: 1px solid var(--table-row-brdr-clr__primary);
    // & .thead {}
    // & .tbody {}
    // & .row {}
    & .col {
      border: 1px solid var(--table-row-brdr-clr__primary);
    }
  }
  &.--stock {
    & .col {
      border: 1px solid var(--table-row-brdr-clr__primary);
    }
  }
}
