<form class="form --prod-create">
  <div class="input__box">
    <label class="label" for="cr-pr-1">SKU №</label>
    <input class="input" type="text" id="cr-pr-1" placeholder="SKU №"/>
  </div>
  <div class="input__box">
    <label class="label" for="cr-pr-2">Назва товару</label>
    <input class="input" type="text" id="cr-pr-2" placeholder="Назва товару"/>
  </div>
  <div class="input__box">
    <label class="label" for="cr-pr-3">Комісійна винагорода, %</label>
    <input class="input" type="text" id="cr-pr-3" placeholder="Комісійна винагорода, %"/>
  </div>
  <div class="input__box">
    <label class="label" for="cr-pr-4">Знижка, %</label>
    <input class="input" type="text" id="cr-pr-4" placeholder="Знижка, %"/>
  </div>
  <div class="input__box">
    <label class="label" for="cr-pr-5">Секція</label>
    <input class="input" type="text" id="cr-pr-5" placeholder="Секція"/>
  </div>
  <div class="input__box">
    <label class="label" for="cr-pr-6">Категорія</label>
    <input class="input" type="text" id="cr-pr-6" placeholder="Категорія"/>
  </div>
  <div class="input__box">
    <label class="label" for="cr-pr-7">Посилання YouTube</label>
    <input class="input" type="text" id="cr-pr-7" placeholder="Посилання YouTube"/>
  </div>
  <div class="input__box">
    <label class="label" for="cr-pr-8">Посилання Instagram</label>
    <input class="input" type="text" id="cr-pr-8" placeholder="Посилання Instagram"/>
  </div>
  <div class="input__box">
    <label class="label" for="cr-pr-9">Додаткові характеристики</label>
    <input class="input" type="text" id="cr-pr-9" placeholder="Додаткові характеристики"/>
  </div>

  <div class="input__box">
    <label class="label" for="cr-pr-10">Опис товару</label>
    <textarea class="textarea" id="cr-pr-10" name="" placeholder="Опис товару"></textarea>
  </div>

  <div class="decision-zone">
    <button class="button --accept" type="button">Прийняти</button>
    <button class="button --decline" type="button">Відхилити</button>
  </div>
</form>
