<form class="form --prod-stock">
  <!-- ТАБЛИЦЯ ЗАЛИШКІВ -->
  <div class="zone --table">
    <p class="zone__tittle">Залишки елементів</p>

    <include src="./partials/table_stock.html"></include>

  </div>

  <!-- КНОПКИ ФОРМИ -->
  <div class="zone --decision-btns">
    <button class="button --decision --accept" type="submit">Прийняти</button>
    <button class="button --decision --reset" type="reset">Скинути</button>
    <button class="button --decision --decline" type="button">Відхилити</button>
  </div>
</form>
