<div class="menu__box">
  <button class="button --for_menu" type="button">MENU</button>
  <ul class="nav__list">
    <li>
      <a class="nav__link" href="./" rel="noopener noreferrer">
        Головна
      </a>
    </li>
    <li>
      <a class="nav__link" href="./mngr_orders.html" rel="noopener noreferrer">
        Замовлення
      </a>
    </li>
    <li>
      <a class="nav__link" href="./mngr_returns.html" rel="noopener noreferrer">
        Повернення
      </a>
    </li>
    <li>
      <a class="nav__link" href="./mngr_products.html" rel="noopener noreferrer">
        Товари
      </a>
    </li> 
    <li>
      <a class="nav__link" href="./mngr_statistics.html" rel="noopener noreferrer">
        Статистика
      </a>
    </li>   
    <li>
      <a class="nav__link" href="./mngr_settings.html" rel="noopener noreferrer">
        Налаштування
      </a>
    </li>
    <li>
      <a class="nav__link" href="./" rel="noopener noreferrer">
        Вихід
      </a>
    </li>
  </ul>
</div>
