<div class="menu__box">
  <button class="button --for_menu" type="button">MENU</button>
  <ul class="nav__list">
    <li>
      <a class="nav__link" href="./" target="_blank" rel="noopener noreferrer">
        Головна
      </a>
    </li>
    <li>
      <a class="nav__link" href="./" target="_blank" rel="noopener noreferrer">
        Замовлення
      </a>
    </li>
    <li>
      <a class="nav__link" href="./" target="_blank" rel="noopener noreferrer">
        Повернення
      </a>
    </li>
    <li>
      <a class="nav__link" href="./" target="_blank" rel="noopener noreferrer">
        Товари
      </a>
    </li>
    <li>
      <a class="nav__link" href="./" target="_blank" rel="noopener noreferrer">
        Вихід
      </a>
    </li>
  </ul>
</div>
