<table class="table --orders">
  <thead class="thead">
    <tr class="row__th">
      <td class="col__th --1" data-tittle="date">1 Дата</td>
      <td class="col__th --2" data-tittle="name">2 Номер</td>
      <td class="col__th --3" data-tittle="">3 Пусто</td>
      <td class="col__th --4" data-tittle="">4 Пусто</td>
      <td class="col__th --5" data-tittle="">5 Пусто</td>
      <td class="col__th --6" data-tittle="">6 Пусто</td>
      <td class="col__th --7" data-tittle="">7 Пусто</td>
      <td class="col__th --8" data-tittle="">8 Пусто</td>
      <td class="col__th --9" data-tittle="">9 Пусто</td>
      <td class="col__th --10" data-tittle="">10 Пусто</td>
    </tr>
  </thead>

  <tbody class="tbody">
  </tbody>
</table>