<div>
  <p class="table__subtittle">
    Елемент № <span class="table__number">1</span>
  </p>
  <div class="zone__overflow">
    <table class="table --sizes">
      <thead class="thead">
        <tr class="row --th">
          <th class="col --1" data-tittle="parameter_type">
            <select class="select__table-type" name="" id="" placeholder="Тип">
              <option value="null">Тип</option>
              <optgroup label="Розміри">
                <option value="eur">EUR</option>
                <option value="usa">USA</option>
              </optgroup>
            </select>
          </th>
          <th class="col --2" data-tittle="parameter_1">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --3" data-tittle="parameter_2">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --4" data-tittle="parameter_3">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --5" data-tittle="parameter_4">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --6" data-tittle="parameter_5">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr class="row --1">
          <td class="col --1" data-tittle="parameter_type">
            <select class="select__table-type" name="" id="" placeholder="Тип">
              <option value="null">empty</option>
              <optgroup label="Розміри">
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
                <option value="xxl">XXL</option>
                <option value="3xl">3XL</option>
                <option value="4xl">4XL</option>
              </optgroup>
            </select>
          </td>
          <td class="col --2" data-tittle="parameter_1">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --3" data-tittle="parameter_2">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --4" data-tittle="parameter_3">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --5" data-tittle="parameter_4">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --6" data-tittle="parameter_5">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
        </tr>
        <tr class="row --2">
          <td class="col --1" data-tittle="parameter_type">
            <select class="select__table-type" name="" id="" placeholder="Тип">
              <option value="null">empty</option>
              <optgroup label="Розміри">
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
                <option value="xxl">XXL</option>
                <option value="3xl">3XL</option>
                <option value="4xl">4XL</option>
              </optgroup>
            </select>
          </td>
          <td class="col --2" data-tittle="parameter_1">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --3" data-tittle="parameter_2">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --4" data-tittle="parameter_3">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --5" data-tittle="parameter_4">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --6" data-tittle="parameter_5">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <p class="table__subtittle">
    Елемент № <span class="table__number">2</span>
  </p>
  <div class="zone__overflow">
    <table class="table --sizes">
      <thead class="thead">
        <tr class="row --th">
          <th class="col --1" data-tittle="parameter_type">
            <select class="select__table-type" name="" id="" placeholder="Тип">
              <option value="null">Тип</option>
              <optgroup label="Розміри">
                <option value="eur">EUR</option>
                <option value="usa">USA</option>
              </optgroup>
            </select>
          </th>
          <th class="col --2" data-tittle="parameter_1">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --3" data-tittle="parameter_2">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --4" data-tittle="parameter_3">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --5" data-tittle="parameter_4">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --6" data-tittle="parameter_5">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr class="row --1">
          <td class="col --1" data-tittle="parameter_type">
            <select class="select__table-type" name="" id="" placeholder="Тип">
              <option value="null">empty</option>
              <optgroup label="Розміри">
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
                <option value="xxl">XXL</option>
                <option value="3xl">3XL</option>
                <option value="4xl">4XL</option>
              </optgroup>
            </select>
          </td>
          <td class="col --2" data-tittle="parameter_1">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --3" data-tittle="parameter_2">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --4" data-tittle="parameter_3">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --5" data-tittle="parameter_4">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --6" data-tittle="parameter_5">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
        </tr>
        <tr class="row --2">
          <td class="col --1" data-tittle="parameter_type">
            <select class="select__table-type" name="" id="" placeholder="Тип">
              <option value="null">empty</option>
              <optgroup label="Розміри">
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
                <option value="xxl">XXL</option>
                <option value="3xl">3XL</option>
                <option value="4xl">4XL</option>
              </optgroup>
            </select>
          </td>
          <td class="col --2" data-tittle="parameter_1">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --3" data-tittle="parameter_2">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --4" data-tittle="parameter_3">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --5" data-tittle="parameter_4">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --6" data-tittle="parameter_5">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <p class="table__subtittle">
    Елемент № <span class="table__number">3</span>
  </p>
  <div class="zone__overflow">
    <table class="table --sizes">
      <thead class="thead">
        <tr class="row --th">
          <th class="col --1" data-tittle="parameter_type">
            <select class="select__table-type" name="" id="" placeholder="Тип">
              <option value="null">Тип</option>
              <optgroup label="Розміри">
                <option value="eur">EUR</option>
                <option value="usa">USA</option>
              </optgroup>
            </select>
          </th>
          <th class="col --2" data-tittle="parameter_1">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --3" data-tittle="parameter_2">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --4" data-tittle="parameter_3">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --5" data-tittle="parameter_4">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
          <th class="col --6" data-tittle="parameter_5">
            <select
              class="select__table-parameter"
              name=""
              id=""
              placeholder="Атрибут"
            >
              <option value="null">Параметр</option>
              <optgroup label="Охвати">
                <option value="01">Охват бедер</option>
                <option value="02">Охват талії</option>
                <option value="03">Охват під грудьми</option>
                <option value="04">Охват плечей</option>
              </optgroup>
            </select>
          </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr class="row --1">
          <td class="col --1" data-tittle="parameter_type">
            <select class="select__table-type" name="" id="" placeholder="Тип">
              <option value="null">empty</option>
              <optgroup label="Розміри">
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
                <option value="xxl">XXL</option>
                <option value="3xl">3XL</option>
                <option value="4xl">4XL</option>
              </optgroup>
            </select>
          </td>
          <td class="col --2" data-tittle="parameter_1">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --3" data-tittle="parameter_2">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --4" data-tittle="parameter_3">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --5" data-tittle="parameter_4">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --6" data-tittle="parameter_5">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
        </tr>
        <tr class="row --2">
          <td class="col --1" data-tittle="parameter_type">
            <select class="select__table-type" name="" id="" placeholder="Тип">
              <option value="null">empty</option>
              <optgroup label="Розміри">
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
                <option value="xxl">XXL</option>
                <option value="3xl">3XL</option>
                <option value="4xl">4XL</option>
              </optgroup>
            </select>
          </td>
          <td class="col --2" data-tittle="parameter_1">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --3" data-tittle="parameter_2">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --4" data-tittle="parameter_3">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --5" data-tittle="parameter_4">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
          <td class="col --6" data-tittle="parameter_5">
            <input class="input__table-parameter" type="text" placeholder="" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
