<p class="table__subtittle">Елемент № 1</p>
<div class="overflow">
  <table class="table --stock">
    <thead class="thead">
      <tr class="row --th">
        <th class="col --1" data-tittle="atribute_type">
          <select class="select__table-type" name="" id="" placeholder="Тип">
            <option value="null">Тип</option>
            <optgroup label="Розміри">
              <option value="eur">EUR</option>
              <option value="usa">USA</option>
            </optgroup>
          </select>
        </th>
        <th class="col --2" data-tittle="atribute_1">
          <select
            class="select__table-atribute"
            name=""
            id=""
            placeholder="Атрибут"
          >
            <option value="null">Атрибут</option>
            <optgroup label="Розміри">
              <option value="01">Жовтий</option>
              <option value="02">Зелений</option>
              <option value="03">Червоний</option>
              <option value="04">Синій</option>
            </optgroup>
          </select>
        </th>
        <th class="col --3" data-tittle="atribute_2">
                    <select
            class="select__table-atribute"
            name=""
            id=""
            placeholder="Атрибут"
          >
            <option value="null">Атрибут</option>
            <optgroup label="Розміри">
              <option value="01">Жовтий</option>
              <option value="02">Зелений</option>
              <option value="03">Червоний</option>
              <option value="04">Синій</option>
            </optgroup>
          </select>
        </th>
        <th class="col --4" data-tittle="atribute_3">
                    <select
            class="select__table-atribute"
            name=""
            id=""
            placeholder="Атрибут"
          >
            <option value="null">Атрибут</option>
            <optgroup label="Розміри">
              <option value="01">Жовтий</option>
              <option value="02">Зелений</option>
              <option value="03">Червоний</option>
              <option value="04">Синій</option>
            </optgroup>
          </select>
        </th>
        <th class="col --5" data-tittle="atribute_4">
                    <select
            class="select__table-atribute"
            name=""
            id=""
            placeholder="Атрибут"
          >
            <option value="null">Атрибут</option>
            <optgroup label="Розміри">
              <option value="01">Жовтий</option>
              <option value="02">Зелений</option>
              <option value="03">Червоний</option>
              <option value="04">Синій</option>
            </optgroup>
          </select>
        </th>
        <th class="col --6" data-tittle="atribute_5">
                    <select
            class="select__table-atribute"
            name=""
            id=""
            placeholder="Атрибут"
          >
            <option value="null">Атрибут</option>
            <optgroup label="Розміри">
              <option value="01">Жовтий</option>
              <option value="02">Зелений</option>
              <option value="03">Червоний</option>
              <option value="04">Синій</option>
            </optgroup>
          </select>
        </th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr class="row --1">
        <td class="col --1" data-tittle="atribute_type">
          <select class="select__table-type" name="" id="" placeholder="Тип">
            <option value="null">empty</option>
            <optgroup label="Розміри">
              <option value="m">M</option>
              <option value="l">L</option>
              <option value="l">L</option>
              <option value="xl">XL</option>
              <option value="xxl">XXL</option>
              <option value="3xl">3XL</option>
              <option value="4xl">4XL</option>
            </optgroup>
          </select>
        </td>
        <td class="col --2" data-tittle="atribute_1">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --3" data-tittle="atribute_2">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --4" data-tittle="atribute_3">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --5" data-tittle="atribute_4">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --6" data-tittle="atribute_5">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
      </tr>

      <tr class="row --3">
        <td class="col --1" data-tittle="atribute_type">
          <select class="select__table-type" name="" id="" placeholder="Тип">
            <option value="null">empty</option>
            <optgroup label="Розміри">
              <option value="m">M</option>
              <option value="l">L</option>
              <option value="l">L</option>
              <option value="xl">XL</option>
              <option value="xxl">XXL</option>
              <option value="3xl">3XL</option>
              <option value="4xl">4XL</option>
            </optgroup>
          </select>
        </td>
        <td class="col --2" data-tittle="atribute_1">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --3" data-tittle="atribute_2">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --4" data-tittle="atribute_3">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --5" data-tittle="atribute_4">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --6" data-tittle="atribute_5">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
      </tr>
      <tr class="row --2">
        <td class="col --1" data-tittle="atribute_type">
          <select class="select__table-type" name="" id="" placeholder="Тип">
            <option value="null">empty</option>
            <optgroup label="Розміри">
              <option value="m">M</option>
              <option value="l">L</option>
              <option value="l">L</option>
              <option value="xl">XL</option>
              <option value="xxl">XXL</option>
              <option value="3xl">3XL</option>
              <option value="4xl">4XL</option>
            </optgroup>
          </select>
        </td>
        <td class="col --2" data-tittle="atribute_1">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --3" data-tittle="atribute_2">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --4" data-tittle="atribute_3">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --5" data-tittle="atribute_4">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --6" data-tittle="atribute_5">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
      </tr>
      <tr class="row --4">
        <td class="col --1" data-tittle="atribute_type">
          <select class="select__table-type" name="" id="" placeholder="Тип">
            <option value="null">empty</option>
            <optgroup label="Розміри">
              <option value="m">M</option>
              <option value="l">L</option>
              <option value="l">L</option>
              <option value="xl">XL</option>
              <option value="xxl">XXL</option>
              <option value="3xl">3XL</option>
              <option value="4xl">4XL</option>
            </optgroup>
          </select>
        </td>
        <td class="col --2" data-tittle="atribute_1">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --3" data-tittle="atribute_2">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --4" data-tittle="atribute_3">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --5" data-tittle="atribute_4">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
        <td class="col --6" data-tittle="atribute_5">
          <input class="input__table-atribute" type="text" placeholder="" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
