<p class="table__subtittle">
  Елемент № 1
</p>
<div class="overflow">
  <table class="table --sizes">
    <thead class="thead">
      <tr class="row --th">
        <th class="col --1" data-tittle="atribute_type">
          <input class="input__table-type" type="text" placeholder="Тип" required>
        </th>
        <th class="col --2" data-tittle="atribute_1">
          <input class="input__table-atribute" type="text" placeholder="Атрибут" required>
        </th>
        <th class="col --3" data-tittle="atribute_2">
          <input class="input__table-atribute" type="text" placeholder="Атрибут" required>
        </th>
        <th class="col --4" data-tittle="atribute_3">
          <input class="input__table-atribute" type="text" placeholder="Атрибут" required>
        </th>
        <th class="col --5" data-tittle="atribute_4">
          <input class="input__table-atribute" type="text" placeholder="Атрибут" required>
        </th>
        <th class="col --6" data-tittle="atribute_5">
          <input class="input__table-atribute" type="text" placeholder="Атрибут" required>
        </th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr class="row --1">
        <td class="col --1" data-tittle="atribute_type">
          <input class="input__table-type" type="text" placeholder="" required>
        </td>
        <td class="col --2" data-tittle="atribute_1">
          <input class="input__table-atribute" type="text" placeholder="" required>
        </td>
        <td class="col --3" data-tittle="atribute_2">
          <input class="input__table-atribute" type="text" placeholder="" required>
        </td>
        <td class="col --4" data-tittle="atribute_3">
          <input class="input__table-atribute" type="text" placeholder="" required>
        </td>
        <td class="col --5" data-tittle="atribute_4">
          <input class="input__table-atribute" type="text" placeholder="" required>
        </td>
        <td class="col --6" data-tittle="atribute_5">
          <input class="input__table-atribute" type="text" placeholder="" required>
        </td>
      </tr>
      <tr class="row --2">
        <td class="col --1" data-tittle="atribute_type">
          <input class="input__table-type" type="text" placeholder="" required>
        </td>
        <td class="col --2" data-tittle="atribute_1">
          <input class="input__table-atribute" type="text" placeholder="" required>
        </td>
        <td class="col --3" data-tittle="atribute_2">
          <input class="input__table-atribute" type="text" placeholder="" required>
        </td>
        <td class="col --4" data-tittle="atribute_3">
          <input class="input__table-atribute" type="text" placeholder="" required>
        </td>
        <td class="col --5" data-tittle="atribute_4">
          <input class="input__table-atribute" type="text" placeholder="" required>
        </td>
        <td class="col --6" data-tittle="atribute_5">
          <input class="input__table-atribute" type="text" placeholder="" required>
        </td>
      </tr>
    </tbody>
  </table>


</div>
