<table class="table --products">
  <thead class="thead">
    <tr class="row__th">
      <td class="col__th --1" data-tittle="sku">1 Артикул (SKU)</td>
      <td class="col__th --2" data-tittle="name">2 Назва</td>
      <td class="col__th --3" data-tittle="brand">3 Бренд</td>
      <td class="col__th --4" data-tittle="section">4 Секція</td>
      <td class="col__th --5" data-tittle="category">5 Категорія</td>
      <td class="col__th --6" data-tittle="">6 Пусто</td>
      <td class="col__th --7" data-tittle="">7 Пусто</td>
      <td class="col__th --8" data-tittle="stock">8 Скдад</td>
      <td class="col__th --9" data-tittle="">9 Пусто</td>
      <td class="col__th --10" data-tittle="">10 Пусто</td>
      <td class="col__th --11" data-tittle="">11 Пусто</td>
      <td class="col__th --12" data-tittle="">12 Пусто</td>
      <td class="col__th --13" data-tittle="">13 Пусто</td>
    </tr>
  </thead>

  <tbody class="tbody">
    <tr class="row --1">
      <td class="col --1" data-tittle="sku">v001-g0217-art1654261513</td>
      <td class="col --2" data-tittle="name">Сукня "Ореанда", рожева</td>
      <td class="col --3" data-tittle="brand">Aluuree</td>
      <td class="col --4" data-tittle="section">Одяг</td>
      <td class="col --5" data-tittle="category">Жінкам</td>
      <td class="col --6" data-tittle="">---------</td>
      <td class="col --7" data-tittle="">---------</td>
      <td class="col --8" data-tittle="stock">105</td>
      <td class="col --9" data-tittle="">---------</td>
      <td class="col --10" data-tittle="">---------</td>
      <td class="col --11" data-tittle="">---------</td>
      <td class="col --12" data-tittle="">---------</td>
      <td class="col --13" data-tittle="">---------</td>
    </tr>
    <tr class="row --2">
      <td class="col --1" data-tittle="sku">v001-g0217-art1654261513</td>
      <td class="col --2" data-tittle="name">Сукня "Ореанда", рожева</td>
      <td class="col --3" data-tittle="brand">Aluuree</td>
      <td class="col --4" data-tittle="section">Одяг</td>
      <td class="col --5" data-tittle="category">Жінкам</td>
      <td class="col --6" data-tittle="">---------</td>
      <td class="col --7" data-tittle="">---------</td>
      <td class="col --8" data-tittle="stock">105</td>
      <td class="col --9" data-tittle="">---------</td>
      <td class="col --10" data-tittle="">---------</td>
      <td class="col --11" data-tittle="">---------</td>
      <td class="col --12" data-tittle="">---------</td>
      <td class="col --13" data-tittle="">---------</td>
    </tr>
    <tr class="row --3">
            <td class="col --1" data-tittle="sku">v001-g0217-art1654261513</td>
      <td class="col --2" data-tittle="name">Сукня "Ореанда", рожева</td>
      <td class="col --3" data-tittle="brand">Aluuree</td>
      <td class="col --4" data-tittle="section">Одяг</td>
      <td class="col --5" data-tittle="category">Жінкам</td>
      <td class="col --6" data-tittle="">---------</td>
      <td class="col --7" data-tittle="">---------</td>
      <td class="col --8" data-tittle="stock">105</td>
      <td class="col --9" data-tittle="">---------</td>
      <td class="col --10" data-tittle="">---------</td>
      <td class="col --11" data-tittle="">---------</td>
      <td class="col --12" data-tittle="">---------</td>
      <td class="col --13" data-tittle="">---------</td>
    </tr>
    <tr class="row --4">
            <td class="col --1" data-tittle="sku">v001-g0217-art1654261513</td>
      <td class="col --2" data-tittle="name">Сукня "Ореанда", рожева</td>
      <td class="col --3" data-tittle="brand">Aluuree</td>
      <td class="col --4" data-tittle="section">Одяг</td>
      <td class="col --5" data-tittle="category">Жінкам</td>
      <td class="col --6" data-tittle="">---------</td>
      <td class="col --7" data-tittle="">---------</td>
      <td class="col --8" data-tittle="stock">105</td>
      <td class="col --9" data-tittle="">---------</td>
      <td class="col --10" data-tittle="">---------</td>
      <td class="col --11" data-tittle="">---------</td>
      <td class="col --12" data-tittle="">---------</td>
      <td class="col --13" data-tittle="">---------</td>
    </tr>
    <tr class="row --5">
            <td class="col --1" data-tittle="sku">v001-g0217-art1654261513</td>
      <td class="col --2" data-tittle="name">Сукня "Ореанда", рожева</td>
      <td class="col --3" data-tittle="brand">Aluuree</td>
      <td class="col --4" data-tittle="section">Одяг</td>
      <td class="col --5" data-tittle="category">Жінкам</td>
      <td class="col --6" data-tittle="">---------</td>
      <td class="col --7" data-tittle="">---------</td>
      <td class="col --8" data-tittle="stock">105</td>
      <td class="col --9" data-tittle="">---------</td>
      <td class="col --10" data-tittle="">---------</td>
      <td class="col --11" data-tittle="">---------</td>
      <td class="col --12" data-tittle="">---------</td>
      <td class="col --13" data-tittle="">---------</td>
    </tr>
    <tr class="row --6">
            <td class="col --1" data-tittle="sku">v001-g0217-art1654261513</td>
      <td class="col --2" data-tittle="name">Сукня "Ореанда", рожева</td>
      <td class="col --3" data-tittle="brand">Aluuree</td>
      <td class="col --4" data-tittle="section">Одяг</td>
      <td class="col --5" data-tittle="category">Жінкам</td>
      <td class="col --6" data-tittle="">---------</td>
      <td class="col --7" data-tittle="">---------</td>
      <td class="col --8" data-tittle="stock">105</td>
      <td class="col --9" data-tittle="">---------</td>
      <td class="col --10" data-tittle="">---------</td>
      <td class="col --11" data-tittle="">---------</td>
      <td class="col --12" data-tittle="">---------</td>
      <td class="col --13" data-tittle="">---------</td>
    </tr>
    <tr class="row --7">
            <td class="col --1" data-tittle="sku">v001-g0217-art1654261513</td>
      <td class="col --2" data-tittle="name">Сукня "Ореанда", рожева</td>
      <td class="col --3" data-tittle="brand">Aluuree</td>
      <td class="col --4" data-tittle="section">Одяг</td>
      <td class="col --5" data-tittle="category">Жінкам</td>
      <td class="col --6" data-tittle="">---------</td>
      <td class="col --7" data-tittle="">---------</td>
      <td class="col --8" data-tittle="stock">105</td>
      <td class="col --9" data-tittle="">---------</td>
      <td class="col --10" data-tittle="">---------</td>
      <td class="col --11" data-tittle="">---------</td>
      <td class="col --12" data-tittle="">---------</td>
      <td class="col --13" data-tittle="">---------</td>
    </tr>
    <tr class="row --8">
            <td class="col --1" data-tittle="sku">v001-g0217-art1654261513</td>
      <td class="col --2" data-tittle="name">Сукня "Ореанда", рожева</td>
      <td class="col --3" data-tittle="brand">Aluuree</td>
      <td class="col --4" data-tittle="section">Одяг</td>
      <td class="col --5" data-tittle="category">Жінкам</td>
      <td class="col --6" data-tittle="">---------</td>
      <td class="col --7" data-tittle="">---------</td>
      <td class="col --8" data-tittle="stock">105</td>
      <td class="col --9" data-tittle="">---------</td>
      <td class="col --10" data-tittle="">---------</td>
      <td class="col --11" data-tittle="">---------</td>
      <td class="col --12" data-tittle="">---------</td>
      <td class="col --13" data-tittle="">---------</td>
    </tr>
    <tr class="row --9">
            <td class="col --1" data-tittle="sku">v001-g0217-art1654261513</td>
      <td class="col --2" data-tittle="name">Сукня "Ореанда", рожева</td>
      <td class="col --3" data-tittle="brand">Aluuree</td>
      <td class="col --4" data-tittle="section">Одяг</td>
      <td class="col --5" data-tittle="category">Жінкам</td>
      <td class="col --6" data-tittle="">---------</td>
      <td class="col --7" data-tittle="">---------</td>
      <td class="col --8" data-tittle="stock">105</td>
      <td class="col --9" data-tittle="">---------</td>
      <td class="col --10" data-tittle="">---------</td>
      <td class="col --11" data-tittle="">---------</td>
      <td class="col --12" data-tittle="">---------</td>
      <td class="col --13" data-tittle="">---------</td>
    </tr>
    <tr class="row --10"></tr>
    <tr class="row --11"></tr>
  </tbody>
</table>
