<table class="table --products">
  <thead class="thead">
    <tr class="row__th">
      <td class="col__th --1" data-tittle="sku">1 Артикул (SKU)</td>
      <td class="col__th --2" data-tittle="name">2 Назва</td>
      <td class="col__th --3" data-tittle="brand">3 Бренд</td>
      <td class="col__th --4" data-tittle="section">4 Секція</td>
      <td class="col__th --5" data-tittle="category">5 Категорія</td>
      <td class="col__th --6" data-tittle="">6 Підкатегорія</td>
      <td class="col__th --7" data-tittle="">7 Ціна, UAH</td>
      <td class="col__th --8" data-tittle="stock">8 Комісія, %</td>
      <td class="col__th --9" data-tittle="">9 Наявність, шт</td>
      <td class="col__th --10" data-tittle="">10 Термін виг-ня, дні</td>
      <td class="col__th --11" data-tittle="">11 Пусто</td>
      <td class="col__th --12" data-tittle="">12 Пусто</td>
      <td class="col__th --13" data-tittle="">13 Пусто</td>
    </tr>
  </thead>
  
  <tbody class="tbody">
  </tbody>
</table>
